<div
  class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <!--selected dish  -->
  <div fxFlex="35" *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{ dish.name | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="{{ BaseURL + dish?.image }}"
        alt="{{ dish?.name }}"
      />
      <mat-card-content>
        <p>{{ dish.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
          <mat-icon>arrow_left</mat-icon>
        </button>
        <button mat-button (click)="goBack()">Back</button>
        <button mat-button>Like</button>
        <button mat-button>Share</button>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <mat-icon>arrow_right</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div [hidden]="dish || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading...Please Wait</h4>
  </div>
  <!--Handling errors from the Http client-->
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{ errMess }}</h4>
  </div>
  <!--Comments array section -->
  <div fxFlex="45" *ngIf="dish" class="comments">
    <h3><strong>Comments</strong></h3>
    <mat-list>
      <mat-list-item *ngFor="let comment of dish.comments">
        <h4 matLine>{{ comment.comment }}</h4>
        <p matLine>{{ comment.rating }} Stars</p>
        <p matLine>
          <span> --{{ comment.author }} {{ comment.date | date }}</span>
        </p>
      </mat-list-item>
    </mat-list>
    <!-- added this div to preview the form input data before being submitted -->
    <div *ngIf="commentsForm.valid">
      <mat-list-item>
        <h4 matLine>{{ commentsForm.get("comment")?.value }}</h4>
        <p matLine>{{ rating }} Stars</p>
        <p matLine>
          <span>
            --{{ commentsForm.get("author")?.value }} {{ today | date }}</span
          >
        </p>
      </mat-list-item>
    </div>
    <!--Reactive form  -->
    <div class="form-size">
      <form
        novalidation
        #form="ngForm"
        [formGroup]="commentsForm"
        (ngSubmit)="onSubmit()"
      >
        <!--Author field with error message  -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Name</mat-label>
          <mat-icon matSuffix>person</mat-icon>
          <input
            required
            matInput
            type="text"
            formControlName="author"
            placeholder="Name"
          />
        </mat-form-field>
        <mat-error *ngIf="commentErrors.author">{{
          commentErrors.author
        }}</mat-error>
        <br />

        <!-- added this selector to import the slider child component where the event is passed to the handler-->
        <app-slider
          (ratingEvent)="onSliderValueChangeHandler($event)"
        ></app-slider>

        <br />
        <!--Comments field with error message  -->
        <p>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Your Comments</mat-label>
            <textarea
              required
              matInput
              placeholder="Your Comment"
              formControlName="comment"
              rows="8"
            >
            </textarea>
          </mat-form-field>
          <mat-error *ngIf="commentErrors.comment">{{
            commentErrors.comment
          }}</mat-error>
        </p>
        <!--Submit button that is disabled once form is invalid -->
        <button
          mat-button
          type="submit"
          [disabled]="commentsForm.invalid"
          class="background-primary text-floral-white"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
  <div [hidden]="dish">
    <mat-spinner></mat-spinner>
    <h4>Loading ...Please Wait</h4>
  </div>
</div>
